.button {
  appearance: none;
  background-color: var(--color-background);
  color: var(--color-content-secondary);
  font-weight: var(--font-weight-regular);
  border: 1px solid var(--color-border);
  font-family: var(--font-family);
  border-radius: var(--radius-max);

  &:hover {
    background-color: var(--color-background-hover);
  }

  &:active {
    background-color: var(--color-background-pressed);
  }
}

.accent {
  background-color: var(--color-background-accent);
  color: var(--color-content-on-accent);
  border-color: transparent;

  &:hover {
    background-color: var(--color-background-accent-hover);
  }

  &:active {
    background-color: var(--color-background-accent-pressed);
  }
}

.medium {
  height: var(--size-medium);
  font-size: var(--font-size-100);
  padding-inline: var(--space-400);
}

.large {
  height: var(--size-large);
  font-size: var(--font-size-200);
  padding-inline: var(--space-500);
}
