@font-face {
  font-family: "Fira Code";
  src: url("../assets/fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

/* @TODO: remove !important and customize Storybook doc blocks */

p {
  font-size: var(--font-size-200) !important;
}
