@font-face {
  font-family: "Akt";
  src: url("../assets/fonts/Akt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("../assets/fonts/Akt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../assets/fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
