@import "./tokens.css";
@import "./font.css";

body {
  margin: 0;
  padding: 0;
  color: var(--color-content);
  background-color: var(--color-background);
  font-family: var(--font-family);
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-regular);
}

button,
[href],
input,
select,
textarea,
[tabindex],
[contenteditable] {
  &:focus-visible {
    outline: 3px solid var(--color-border-accent);
    outline-offset: 2px;
  }
}
