:root {
  --color-white: #ffffff;
  --color-black: #18181b;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bedbff;
  --color-blue-300: #8ec5ff;
  --color-blue-400: #50a2ff;
  --color-blue-500: #2b7fff;
  --color-blue-600: #155dfc;
  --color-blue-700: #1447e6;
  --color-blue-800: #193cb8;
  --color-blue-900: #1c398e;
  --color-neutral-100: #f4f4f5;
  --color-neutral-200: #e4e4e7;
  --color-neutral-300: #d4d4d8;
  --color-neutral-400: #9f9fa9;
  --color-neutral-500: #71717b;
  --color-neutral-600: #52525c;
  --color-neutral-700: #3f3f46;
  --color-neutral-800: #27272a;
  --color-neutral-900: #18181b;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffc9c9;
  --color-red-300: #ffa2a2;
  --color-red-400: #ff6467;
  --color-red-500: #fb2c36;
  --color-red-600: #e7000b;
  --color-red-700: #c10007;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-green-100: #d0fae5;
  --color-green-200: #a4f4cf;
  --color-green-300: #5ee9b5;
  --color-green-400: #00d492;
  --color-green-500: #00bc7d;
  --color-green-600: #009966;
  --color-green-700: #007a55;
  --color-green-800: #006045;
  --color-green-900: #004f3b;
  --color-yellow-100: #fef3c6;
  --color-yellow-200: #fee685;
  --color-yellow-300: #ffd230;
  --color-yellow-400: #ffb900;
  --color-yellow-500: #fe9a00;
  --color-yellow-600: #e17100;
  --color-yellow-700: #bb4d00;
  --color-yellow-800: #963c00;
  --color-yellow-900: #7a3306;
  --color-background-default: var(--color-neutral-100);
  --color-background-danger-muted: var(--color-red-100);
  --color-background-success-muted: var(--color-green-100);
  --color-background-warning-muted: var(--color-yellow-100);
  --color-background-info-muted: var(--color-neutral-200);
  --color-background-hover: var(--color-neutral-200);
  --color-background-pressed: var(--color-neutral-300);
  --color-background-active: var(--color-blue-200);
  --color-background-disabled: var(--color-neutral-100);
  --color-background-accent-default: var(--color-blue-600);
  --color-background-accent-hover: var(--color-blue-700);
  --color-background-accent-pressed: var(--color-blue-800);
  --color-background-accent-disabled: var(--color-neutral-200);
  --color-background-danger-default: var(--color-red-600);
  --color-background-danger-hover: var(--color-red-700);
  --color-background-danger-pressed: var(--color-red-800);
  --color-background-danger-disabled: var(--color-neutral-200);
  --color-border-default: var(--color-neutral-400);
  --color-border-secondary: var(--color-neutral-300);
  --color-border-accent: var(--color-blue-500);
  --color-border-danger: var(--color-red-500);
  --color-border-on-danger-muted: var(--color-red-200);
  --color-border-on-success-muted: var(--color-green-200);
  --color-border-on-warning-muted: var(--color-yellow-200);
  --color-border-on-info-muted: var(--color-neutral-300);
  --color-border-on-active: var(--color-blue-400);
  --color-border-disabled: var(--color-neutral-300);
  --color-content-default: var(--color-neutral-900);
  --color-content-secondary: var(--color-neutral-600);
  --color-content-accent: var(--color-blue-700);
  --color-content-danger: var(--color-red-700);
  --color-content-warning: var(--color-yellow-700);
  --color-content-success: var(--color-green-700);
  --color-content-on-accent: var(--color-white);
  --color-content-on-danger: var(--color-white);
  --color-content-on-danger-muted: var(--color-red-900);
  --color-content-on-success-muted: var(--color-green-900);
  --color-content-on-warning-muted: var(--color-yellow-900);
  --color-content-on-info-muted: var(--color-neutral-800);
  --color-content-on-active: var(--color-blue-800);
  --color-content-disabled: var(--color-neutral-400);
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-max: 999px;
  --size-small: 1.75rem;
  --size-medium: 2.25rem;
  --size-large: 2.75rem;
  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.5rem;
  --space-600: 2rem;
  --space-700: 3rem;
  --space-800: 4rem;
  --space-900: 6rem;
  --font-size-100: 0.875rem;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 2rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-default: Akt, sans-serif;
  --font-family-code: Fira Code, monospace;
}
:root[data-mode="dark"] {
  --color-background-default: #18181b;
  --color-background-danger-muted: #82181a;
  --color-background-success-muted: #004f3b;
  --color-background-warning-muted: #7a3306;
  --color-background-info-muted: #27272a;
  --color-background-hover: #27272a;
  --color-background-pressed: #3f3f46;
  --color-background-active: #193cb8;
  --color-background-disabled: #18181b;
  --color-background-accent-disabled: #27272a;
  --color-border-default: #52525c;
  --color-border-secondary: #27272a;
  --color-border-accent: #2b7fff;
  --color-border-danger: #fb2c36;
  --color-border-on-danger-muted: #9f0712;
  --color-border-on-success-muted: #006045;
  --color-border-on-warning-muted: #963c00;
  --color-border-on-info-muted: #27272a;
  --color-border-on-active: #155dfc;
  --color-border-disabled: #3f3f46;
  --color-content-default: #f4f4f5;
  --color-content-secondary: #9f9fa9;
  --color-content-accent: #50a2ff;
  --color-content-danger: #ff6467;
  --color-content-warning: #ffb900;
  --color-content-success: #00d492;
  --color-content-on-accent: #ffffff;
  --color-content-on-danger: #ffffff;
  --color-content-on-danger-muted: #ffe2e2;
  --color-content-on-success-muted: #d0fae5;
  --color-content-on-warning-muted: #fef3c6;
  --color-content-on-info-muted: #e4e4e7;
  --color-content-on-active: #bedbff;
  --color-content-disabled: #52525c;
}
