:root {
  --color-neutral-100: oklch(96.74% 0 287.3deg);
  --color-red-100: oklch(93.65% 0.03 17.79deg);
  --color-neutral-200: oklch(91.97% 0 286.61deg);
  --color-red-200: oklch(88.34% 0.06 18.41deg);
  --color-neutral-300: oklch(87.11% 0.01 286.49deg);
  --color-neutral-400: oklch(70.57% 0.01 286.09deg);
  --color-red-300: oklch(80.54% 0.11 19.79deg);
  --color-neutral-500: oklch(55.2% 0.02 285.93deg);
  --color-red-400: oklch(70.22% 0.19 22.23deg);
  --color-neutral-600: oklch(44.22% 0.02 285.75deg);
  --color-red-500: oklch(63.79% 0.24 25.44deg);
  --color-neutral-700: oklch(37.03% 0.01 285.84deg);
  --color-red-600: oklch(58.31% 0.24 28.48deg);
  --color-red-700: oklch(50.95% 0.21 28.51deg);
  --color-red-800: oklch(44.46% 0.18 26.79deg);
  --color-red-900: oklch(39.67% 0.14 25.72deg);
  --color-green-100: oklch(94.98% 0.05 163.59deg);
  --color-green-200: oklch(90.53% 0.09 163.85deg);
  --color-green-300: oklch(84.41% 0.14 165.22deg);
  --color-green-400: oklch(76.88% 0.17 161.94deg);
  --color-green-500: oklch(70.19% 0.16 160.43deg);
  --color-green-600: oklch(60.31% 0.13 160.92deg);
  --color-green-700: oklch(51.28% 0.11 163.56deg);
  --color-green-800: oklch(43.36% 0.09 165.86deg);
  --color-green-900: oklch(38% 0.08 168.7deg);
  --color-yellow-100: oklch(96.17% 0.06 95.87deg);
  --color-yellow-200: oklch(92.44% 0.12 95.84deg);
  --color-yellow-300: oklch(87.81% 0.17 91.85deg);
  --color-yellow-400: oklch(82.9% 0.17 81.03deg);
  --color-yellow-500: oklch(77.24% 0.17 65.36deg);
  --color-yellow-600: oklch(66.72% 0.17 53.38deg);
  --color-yellow-700: oklch(55.71% 0.16 45.36deg);
  --color-yellow-800: oklch(47.3% 0.13 45.22deg);
  --color-yellow-900: oklch(41.32% 0.11 46.19deg);
  --color-blue-100: oklch(93.19% 0.03 255.58deg);
  --color-blue-200: oklch(88.2% 0.06 253.97deg);
  --color-blue-300: oklch(80.71% 0.1 250.44deg);
  --color-blue-400: oklch(70.36% 0.16 253.41deg);
  --color-blue-500: oklch(61.87% 0.21 259.23deg);
  --color-blue-600: oklch(54.65% 0.25 262.87deg);
  --color-blue-700: oklch(48.78% 0.24 264.4deg);
  --color-blue-800: oklch(42.42% 0.2 265.5deg);
  --color-blue-900: oklch(37.96% 0.15 265.47deg);
  --color-neutral-800: oklch(27.39% 0.01 286.1deg);
  --color-neutral-900: oklch(21.03% 0.01 285.93deg);
  --color-white: oklch(96.74% 0 287.3deg);
  --color-black: oklch(21.03% 0.01 285.93deg);
  --color-background: var(--color-neutral-100);
  --color-border: var(--color-neutral-400);
  --color-content: var(--color-neutral-900);
  --color-background-accent: var(--color-blue-600);
  --color-border-secondary: var(--color-neutral-300);
  --color-border-accent: var(--color-blue-500);
  --color-border-on-danger: var(--color-red-200);
  --color-border-on-success: var(--color-green-200);
  --color-border-on-warning: var(--color-yellow-200);
  --color-content-secondary: var(--color-neutral-700);
  --color-content-accent: var(--color-blue-700);
  --color-content-on-accent: var(--color-white);
  --color-content-on-danger: var(--color-red-900);
  --color-content-on-success: var(--color-green-900);
  --color-content-on-warning: var(--color-yellow-900);
  --color-background-danger: var(--color-red-100);
  --color-background-success: var(--color-green-100);
  --color-background-warning: var(--color-yellow-100);
  --color-background-hover: var(--color-neutral-200);
  --color-background-pressed: var(--color-neutral-300);
  --color-background-accent-hover: var(--color-blue-700);
  --color-background-accent-pressed: var(--color-blue-800);
  --font-size-100: 0.875rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 2rem;
  --font-family: Outfit, sans-serif;
  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.5rem;
  --space-600: 2rem;
  --space-700: 3rem;
  --space-800: 4rem;
  --space-900: 6rem;
  --size-small: 1.75rem;
  --size-medium: 2.25rem;
  --size-large: 2.75rem;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-max: 999px;
}
