.alert {
  display: flex;
  gap: var(--space-200);
  align-items: center;
  border-radius: var(--radius-max);
  font-size: var(--font-size-200);
  padding-inline: var(--space-200);
  padding-block: var(--space-100);
  padding-inline-end: var(--space-300);
  border-width: 1px;
  border-style: solid;
}

.inline {
  background: none;
  border: none;
  padding: 0;
}

.warning {
  color: var(--color-content-on-warning-muted);
  background-color: var(--color-background-warning-muted);
  border-color: var(--color-border-on-warning-muted);

  &.inline {
    color: var(--color-content-warning);
  }
}

.error {
  color: var(--color-content-on-danger-muted);
  background-color: var(--color-background-danger-muted);
  border-color: var(--color-border-on-danger-muted);

  &.inline {
    color: var(--color-content-danger);
  }
}

.success {
  color: var(--color-content-on-success-muted);
  background-color: var(--color-background-success-muted);
  border-color: var(--color-border-on-success-muted);

  &.inline {
    color: var(--color-content-success);
  }
}

.info {
  color: var(--color-content-on-info-muted);
  background-color: var(--color-background-info-muted);
  border-color: var(--color-border-on-info-muted);
}
